<br>
<div class="container">
 <h1 >TODOS LOS LIBROS</h1>
 <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Editorial</th>
        <th scope="col">Categoria</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha Actual</th>
        <th scope="col">Estado</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of book ; let cantBook=index ">
        <th style="text-align:center"  scope="row">{{cantBook+1}}</th>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.editorial}}</td>
        <td>{{book.category}}</td>
        <td>{{book.description}}</td>
        <td>{{book.quantity}}</td>
        <td>{{book.deliveryDate}}</td>
        <td>{{book.dbStatus}}</td>
        <td><a><img src="https://cdn-icons-png.flaticon.com/512/1040/1040252.png" width="25" height="25"></a></td>
        <td><a href=""><img src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png" width="25" height="25"></a></td>
      </tr>
    </tbody>
 </table>
</div>