p{
    font-size: 20px;
    color: #5fe22b;
}
footer{
  background-color: #da508a;
    color: #070707;
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    width: 100%;
    text-align: center;

}
.text-muted {
      color: #080808!important;
      
  }
  