p{
    font-size: 30px;
    color: #5fe22b;
}
footer{
  background-color: #e4d2eb;
    color: #070707;
    position: absolute;
    bottom: 0;
    align-self: flex-end;
    width: 100%;
    text-align: center;

}