
    <footer class=" footerpy-3">
      
      <div class="container">
      <ul class="nav justify-content-center border-bottom mb-3">
        <li class="ms-3"><img src="https://cdn-icons.flaticon.com/png/512/2626/premium/2626279.png?token=exp=1646414925~hmac=4b2ca2c540db90f4305ab61c7a8a82e0" width="45" height="45"></li>
        <li class="ms-3"><img src="https://cdn-icons-png.flaticon.com/512/1177/1177566.png" width="45" height="45"></li>
        <li class="ms-3"><img src="https://cdn-icons.flaticon.com/png/512/2626/premium/2626270.png?token=exp=1646414855~hmac=ec3e2f383bd258f1f50415a850fe9ac7" width="45" height="45" ></li>
        <i class="fa-solid fa-trash-can"></i>
        <i class="fa-solid fa-user"></i>
        <i class="far fa-user"></i>
      </ul>
      <p class="text-center text-muted">&copy; 2022 Develop by @JeniferPadilla</p>
    </div>
    </footer>

