.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 16px 0px;
}
.card{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    background-color: #141118;
}

.container{
    display: flex;
    flex-direction: column;
}
.button{
    width: 100%;
    background-color: #e479d6;
    color: black;
}