<h1>Registrar Libro</h1>
<!-- <div class="form">
    <mat-card class="card">
      <mat-card-title>Registre un libro</mat-card-title>
      <mat-card-content>
        <div class="container">
            <mat-form-field>
              <input
              [(ngModel)]="registerData.title"
              matInput
              placeholder="Titulo"
              required
              >
            </mat-form-field>
            <mat-form-field>
              <input
              [(ngModel)]="registerData.author"
              matInput
              placeholder="Autor del libro"
              required
              >
            </mat-form-field>
            <mat-form-field>
              <input
              [(ngModel)]="registerData.editorial"
              matInput
              placeholder="Editorial del libro"
              required
              >
            </mat-form-field>
            <mat-form-field>
                <input
                [(ngModel)]="registerData.category"
                matInput
                placeholder="Categoria del libro"
                required
                >
              </mat-form-field>
              <mat-form-field>
                <input
                [(ngModel)]="registerData.description"
                matInput
                placeholder="Descripcion del libro"
                required
                >
              </mat-form-field>
              <mat-form-field>
                <input
                [(ngModel)]="registerData.quantity"
                type="number"
                matInput
                placeholder="Cantidad de este libro"
                required
                >
              </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
      <button
      (click)="saveBook()"
      class="button"
      mat-raised-button
      >Registrar Libro</button>
      </mat-card-actions>
    </mat-card>
  </div> -->
