<div class="form">
    <mat-card class="card">
      <mat-card-title>Registre un libro</mat-card-title>
      <mat-card-content>
        <div class="container">
            <mat-form-field>
              <input
              [(ngModel)]="registerBookData.title"
              matInput
              placeholder="Titulo"
              required
              >
            </mat-form-field>
            <mat-form-field>
              <input
              [(ngModel)]="registerBookData.author"
              matInput
              placeholder="Autor del libro"
              required
              >
            </mat-form-field>
            <mat-form-field>
              <input
              [(ngModel)]="registerBookData.editorial"
              matInput
              placeholder="Editorial del libro"
              required
              >
            </mat-form-field>
            <mat-form-field>
                <input
                [(ngModel)]="registerBookData.category"
                matInput
                placeholder="Categoria del libro"
                required
                >
              </mat-form-field>
              <mat-form-field>
                <input
                [(ngModel)]="registerBookData.description"
                matInput
                placeholder="Descripcion del libro"
                required
                >
              </mat-form-field>
              <mat-form-field>
                <input
                [(ngModel)]="registerBookData.quantity"
                type="number"
                matInput
                placeholder="Cantidad de este libro"
                required
                >
              </mat-form-field>
              <mat-form-field>
                <input
                [(ngModel)]="registerBookData.deliveryDate"
                type="date"
                matInput
                placeholder="fecha de creacion del libro "
                required
                >
              </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
      <button
      (click)="saveBook()"
      class="button"
      mat-raised-button
      >Registrar Libro</button>
      </mat-card-actions>
    </mat-card>
  </div>
