/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(30deg, #9cc5e0, #e49ada);
  position: relative;
  padding-bottom: 13em;
  min-height: 100vh;

}

.styleSnackBarError {
  background-color: #d34e4e;
  color: #080808;
}

.styleSnackBarSuccesfull {
  background-color: #4ed360;
  color: #070707;
}
